.comments {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
}

.postProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.commentText {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    text-align: left;
    border-radius: 5px;
    /* text-shadow: 0px 0px 2px #A09E9D;
    color: #0A0A0A; */
    background: #F4F4F4;
}

.commentUser {
    margin: 5px 0 0 10px;
}

.commentValue {
    margin: 5px 0 5px 10px;
}